# Bender
.bender
# Targets: vsim
target/sim/vsim/compile.tcl
target/sim/vsim/work
target/sim/vsim/modelsim.ini
target/sim/vsim/transcript
target/sim/vsim/vsim.wlf
target/sim/vsim/*.vstf
# Targets: asic
target/asic
